<h1>Class</h1>
<p>
  {{artjs()}} has a full support for building OOP code.<br/>
  In this section you'll learn how to create the class using {{artjs()}}.
</p>
<h2>Packages</h2>
<div class="section">
  <p>
    It highly recommended to keep your code well organized. 
    One of the way to achieve this is group your classes into packages/modules.
    {{artjs()}} doesn't enforce you to use specific way to achieve this.<br/>
    In JS the simplest way is to create tree structure by defining one global generic object:
  </p>
  <pre>
window.project = {
  models: {
  }
};</pre>
  <p>
    Within the package you can define the classes that belong to the same domain. Lets create few models.
  </p>
</div>
<h2>Classes</h2>
<div class="section">
  <p>
    In {{artjs()}}, class can be defined using {{code('artjs.Class')}}. It has following signature:
  </p>
  <pre>
artjs.Class(
  Function &lt;constructor&gt;, 
  Object &lt;prototype&gt;, 
  Object &lt;static&gt;, 
  Function &lt;superclass&gt;
);</pre>
  <p>Here's the example of how we can create {{code('Phone')}} class:</p>
  <pre>
project.models.Phone = artjs.Class(
  function(name) {
    this._name = name;
    
    this.ctor.instances.push(this);
  },
  {
    enterNumber: function(value) {
      this._number = value;
    },
    
    call: function() {
      if (this._number) {
        this._doCall();
      }
      else {
        console.log('Unable to call, number is missing', this);
      }
    },
    
    getName: function() {
      return this._name;
    },
    
    toString: function() {
      return this.getName();
    },
    
    _doCall: function() {
      // performs the call
    }
  },
  {
    instances: [],
    
    getName: function() {
      return 'Phone';
    }
  }
);</pre>
  <p>
    We created {{code('Phone')}} class within {{code('project.models')}} package.
    It has:
  </p>
  <ul class="simple">
    <li>one private property {{code('_name')}}</li>
    <li>three public methods: {{code('enterNumber')}}, {{code('call')}}, {{code('getName')}} and {{code('toString')}}</li>
    <li>one private method {{code('_doCall')}}</li>
    <li>one static property {{code('instances')}}</li>
    <li>one static method {{code('getName')}}</li>
  </ul>
  
  <p>
    To instantiate this class, use classic way:
  </p>
  <pre>
var phone = new project.models.Phone('Bell Labs');

phone.enterNumber('2196 21983 26763');
phone.call();
    
project.models.Phone.instances.length; // 1
  </pre>
</div>
<h2>Inheritance</h2>
<div class="section">
  <p>
    Let's extend {{code('Phone')}} class and create new one: {{code('MobilePhone')}}
  </p>
  <pre>
project.models.MobilePhone = artjs.Class(
  null,
  {
    enterNumber: function(value) {
      this.super(value);
      
      // specific procedure for entering number on mobile phones
    },
    
    _doCall: function() {
      // performs the call on mobile
    }
  },
  null,
  project.models.Phone
);</pre>
  <p>
    Now we have a {{code('MobilePhone')}} class that contains implementation specific to that type of phone.
    Notice the third arguments points to {{code('Phone')}} super class.
    Another thing to notice is {{code('this.super')}} which calls a super method. 
    Can also be used in constructor and even in static methods which can also be overriden.
    Pass {{code('null')}} to any argument of {{code('artjs.Class')}} that you don't need.
  </p>
  <p>
    To instantiate {{code('MobilePhone')}} class:
  </p>
  <pre>
var mobilePhone = new project.models.MobilePhone('iPhone 4s');

phone.enterNumber('2196 21983 26763');
phone.call();

project.models.Phone.instances.length; // 2
  </pre>
</div>
