<h1>Component</h1>
<p>
  Components allow you to create visual element with encapsulated functionality.
</p>
<h2>
  Definition
</h2>
<div class="section">
  <p>
    In order to define a component, assign to any HTML element css class {{code('art')}}.<br/>
    However this wont do much. It will only allow the framework to recognize the fact that this element is an component.
    In order to define a behaviour just assign another css class that corresponds to js class defined in your code, e.g.:
  </p>
<pre>&lt;div class="art app-components-MyComponent"&gt;&lt;/div&gt;</pre>
  <p>
    Here, framework will search for a class {{code('app.components.MyComponent')}} and instantiate it 
    whenever that element appears in UI.<br/>
    That class must extend {{code('artjs.Component')}} (see class definition) and you must call 
    {{code('super()')}} in the constructor. 
    Doing that will give you access to {{code('element')}} property which keeps
    a reference to the main element (the one with assigned css class).
  </p>
</div>
<h2>
  Lifecycle
</h2>
<div class="section">
  <p>
    Keep in mind that framework will remove any components that are not on stage every 1 second. You may change it
    through {{code('artjs.ComponentSweeper.INTERVAL')}} setting. This is obviously for performance reasons.
  </p>
</div>
<h2>
  Lookup
</h2>
<div class="section">
  <p>
    If you know that your component is going to be unique you may want to assign its element an {{code('id')}} attribute.<br/>
    Each element with {{code('id')}} can be referenced using {{code('onLoad()')}} hook.
    If component is already instantiated and you call:
  </p>
  <pre>
artjs.Component.onLoad('myId', delegate);</pre>
  <p>
    delegate will be called immediately and will receive reference to component instance.<br/>
    Otherwise it will be called as soon as HTML element is found and component is instantiated.<br/>
    You can always try to reference your component by {{code('id')}} using:
  </p>
  <pre>
artjs.Component.find('myId');</pre>
  <p>This will return reference to component if it has been already instantiated or null otherwise.</p>
</div>
