<h1>Delegate</h1>
<h2>Why we need Delegate?</h2>
<div class="section">
  <p>
    One of the most important aspects of OOP in JS is <span class="code">this</span> keyword.<br/>
    However, it often confuses people who start learning JavaScript. This is because when used within a function, 
    it changes its identity depending on how you call that function. 
    And here we get to another aspect of OOP in JavaScript: there are no methods in JavaScript - only functions.
    Because of that, we need to figure out the way to force <span class="code">this</span> to point always 
    at the object you want, no matter how you call the function. In other words - we want to have a function 
    to behave like a method.
    In order to explain why we need this, here's an example:
  </p>
  <pre>
window.id = 'window';

var obj = {
  id: 'object',
  
  meth: function() {
    console.log(this.id);
  }
};

var alien = {
  id: 'alien'
};

obj.meth();

var meth = obj.meth;

meth();

meth.call(alien);</pre>
  <p>
    As you can see all three ways of calling the function give different results and that's because for each of them 
    we change the context (<span class="code">this</span>).
  </p>
</div>
<h2>What is Delegate?</h2>
<div class="section">
  <p>
    Delegate is an object that allows you to couple context object with any function. You can also optionally provide
    a list of arguments that will be passed to the function whenever you invoke delegate.
    Here's how you create and use Delegate:
  </p>
  <pre>
var obj = {
  id: 'object',
  
  meth: function(info, status) {
    console.log(this.id, info, status);
  }
};

var delegate = new artjs.Delegate(obj, obj.meth, 200);

// or use shortcut:
// var delegate = new artjs.Delegate(obj, 'meth', 200);

delegate.invoke('greetings!');</pre>
  <p>
    Method will get direct call arguments first, followed by arguments declared during Delegate creation.
    Sometimes you want to be able to just call a function instead of <span class="code">delegate.invoke</span>.
    You can get it from delegate by using:
  </p>
  <pre>
var callback = delegate.callback(true);</pre>
  <p>
    Passing <span class="code">true</span> means that we want to know who was the caller of our method. 
    In other words - what would <span class="code">this</span> point to if we hadn't used delegate.
    This information will be passed as the very first argument of a method:
  </p>
  <pre>
// Redefine meth so we can inspect source
delegate.method = obj.meth = function(source, info, status) {
  console.log(this.id, source.id, info, status);
};

var caller = {
  id: 'caller',
  action: callback
};

caller.action('greetings!');</pre>
  <p>
    There are number of helper methods that deal with <span class="code">Delegate</span> object. 
    See reference to find out more. 
  </p>
</div>
