<h1>Introduction</h1>
<h2>Main features</h2>
<div class="section">
  <p>
    {{artjs()}} is a powerful library that allows you to build your web application from bottom to the top. 
    It consists of several features that simplify web development.
    Those features include:
  </p>
  <ul class="simple">
    <li>{{linkTo('Utils', 'utils')}} - extend functionality of build in objects</li>
    <li>{{linkTo('Class', 'class2')}} - class definition with full OOP support</li>
    <li>{{linkTo('Component', 'component2')}} - encapsulate behaviour in single class</li>
    <li>{{linkTo('View', 'view')}} - render view on model changes</li>
    <li>{{linkTo('Template', 'template')}} - reuse html with different content</li>
    <li>{{linkTo('Routing', 'routing')}} - map url to action</li>
    <li>{{linkTo('Testing', 'testing')}} - includes own testing framework</li>
  </ul>
</div>
<h2>Examples</h2>
<div class="section">
  <p>
    To see examples of how to use {{artjs()}} you can refer to the source code of this documentation:<br/>
    {{linkTo('https://github.com/arthwood/artJsDotOrg')}}
  </p>
  <p>
    I've also built a {{linkTo('todomvc.com', 'http://todomvc.com/')}} application using {{artjs()}}:<br/>
    Demo: {{linkTo('todomvc.artjs.org', 'http://todomvc.artjs.org/')}}<br/>
    Source code: {{linkTo('https://github.com/arthwood/todomvc')}}
  </p>
</div> 
