<h1>Introduction</h1>
<p>
  <span class="artjs">ArtJs</span> is a powerful library that allows you to build your web application from bottom to the top. 
  It consists of several features that simplify web development.
  Those features include:
</p>
<ul class="simple">
  <li>Utility methods - extend functionality of build in objects</li>
  <li>Class - class definition with full OOP support</li>
  <li>Template - reuse html with different content</li>
  <li>Component - encapsulate behaviour in single class</li>
  <li>View - bind model to template</li>
  <li>Test - includes own testing framework</li>
  <li>Lang - I18n support</li>
</ul>
