<h1>Introduction</h1>
<p>
  {{artjs()}} is a powerful library that allows you to build your web application from bottom to the top. 
  It consists of several features that simplify web development.
  Those features include:
</p>
<ul class="simple">
  <li>{{linkTo('Utils', 'utils')}} - extend functionality of build in objects</li>
  <li>{{linkTo('Class', 'class2')}} - class definition with full OOP support</li>
  <li>{{linkTo('Component', 'component2')}} - encapsulate behaviour in single class</li>
  <li>{{linkTo('View', 'view')}} - bind model to template</li>
  <li>{{linkTo('Template', 'template')}} - reuse html with different content</li>
  <li>{{linkTo('Routing', 'routing')}} - map url to action</li>
  <li>{{linkTo('Testing', 'testing')}} - includes own testing framework</li>
</ul>
