<h1>Template</h1>
<p>
  Templates allow you to reuse same html file many times and feeding it with different content.
</p>
<h2>Templates library</h2>
<div class="section">
  <p>
    Templates are can be stored anywhere in your project but default location is "templates" folder at the root.
    You can specify the location by setting {{code('artjs.TemplateLibrary.config.PATH')}}.
  </p>
</div>
<h2>Loading templates</h2>
<div class="section">
  <p>
    Templates are loaded automatically by the framework.
    You can specify the list of templates to load by setting {{code('artjs.TemplateLibrary.config.TEMPLATES')}}.
    What frameword does is it hides body until all templates are loaded. 
    That's because whole body is treated as a template and you may use placeholders there as well.
    It prevents from displaying them as a text before template is actually rendered.
    After that is fires {{code('artjs.onLibraryLoad')}} event.
  </p>
</div>
<h2>Creating templates</h2>
<div class="section">
  <p>
    Template files have format of html with additional placeholders. Placeholders have format of:
  </p>
  <pre>&#123;&#123;&lt;expression&gt;&#125;&#125;</pre>
  Where expression can be:
  <ul class="simple">
    <li>current scope's property (templates are always render with a scope object)</li>
    <li>template method (you can find available methods in reference)</li>
  </ul>
</div>
<h2>Accessing templates</h2>
<div class="section">
  <p>
    In order to get loaded template use {{code('artjs.TemplateLibrary.getTemplate(id)')}} 
    where {{code('id')}} is path to your template (e.g. 'list/item')
  </p>
</div>
<h2>Rendering templates</h2>
<div class="section">
  <h3>render</h3>
  <p>
    Once you have a template you can populate it with the content. The process is called rendering and
    can be performed using {{code('artjs.TemplateBase.render(template, scope)')}} 
    where {{code('template')}} is raw template as a String and {{code('scope')}} 
    is an object that will be used to provide the content.
  </p>
  <h3>renderInto</h3>
  <p>
    With {{code('artjs.TemplateBase.renderInto(element, template, scope)')}} you can render the template 
    directly into an element. In Addition it will evaluate any scripts in the template and scan for any Components. 
  </p>
  <h3>renderElement</h3>
  <p>
    {{code('artjs.TemplateBase.renderElement(element, scope)')}} will render inner html of the element 
    and update its content.
  </p>
  <h3>renderTemplateInto</h3>
  <p>
    {{code('artjs.TemplateBase.renderElement(element, templateId, scope)')}} is the same as 
    {{code('artjs.TemplateBase.renderInto')}} but you can provide templateId instead of raw template.
  </p>
</div>
