<h1>Utils</h1>
<p>
  Utils is a collection of classes that allow you to perform most common operations or use methods that are not 
  implemented in JavaScript's native objects.
</p>
<h2>Contents</h2>
<div class="section">
  <p>
    Most useful part of Utils are generic objects that provide operations on such objects as: 
    {{linkTo('Array', 'array')}}, {{linkTo('Object', 'object')}}, {{linkTo('String', 'string')}},
    {{linkTo('Math', 'math')}}, {{linkTo('Date', 'date')}}, {{linkTo('Element', 'element')}}.
  </p>
  <p>
    You can access them directly from artjs namespace:
  </p>
  <pre>
artjs.Array.build(4, function(i) { return i * i; })</pre>
  <p>For more information see Reference.</p>
</div>
