<h1>View</h1>
<p>
  {{code('View')}} is an abstract class based of {{linkTo('Component', 'component2')}} class that encapsulates data used in order to 
  render the view.
</p>
<h2>Model</h2>
<div class="section">
  <p>
    Each {{code('View')}} class instance has its private {{code('_model')}} field which is an instance of 
    {{code('artjs.data.Model')}} class. You can either build your model and assign it to the field, or use public 
    {{code('setModel()')}} method. The latter will cause the view to render.<br/>
    The main feature of a {{code('View')}} is the fact that whenever you make a change to model, an abstract protected 
    {{code('_render()')}} method is being called.
    Only specific properties of a model will trigger rendering the view, namely the ones that you register: 
  </p>
  <pre>
this._model.addProperty('myProp');</pre>
  <p>
    One of simple {{code('View')}} implementations is {{linkTo('TemplateView', 'template_view')}}.
  </p>
</div>
