.divider {
  margin: 0 10px; }

.nav {
  border-color: #cccccc;
  border-style: solid;
  border-width: 1px 0;
  margin-bottom: 20px;
  padding: 10px; }

.block {
  padding: 10px; }

.code {
  font-family: Courier New; }
