body {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace; }

.runner {
  width: 600px;
  overflow: hidden; }
  .runner .success, .runner .failure {
    float: left; }
  .runner .success {
    color: green; }
  .runner .failure {
    color: red; }

.results ul li {
  padding: 6px 0; }
  .results ul li p {
    margin: 0; }
.results .success p {
  color: green; }
