.artjs-DatepickerImg
  cursor: pointer
  
.artjs-Calendar
  position: absolute
  padding: 6px
  background: white
  
  .nav
    a, select
      vertical-align: middle
  
  table
    width: 100%
    td
      text-align: center
      cursor: pointer

      &.selected
        font-weight: bold

      &.invalid
        cursor: default
