.header 
  a span
    font-size: 24px
    
  .art-component-Version
    padding: 0 6px
    
.params p span, .param
  font-weight: bold

.art-component-Content
  float: right
  width: 620px

  ul
    padding: 6px 14px
    margin-bottom: 20px
    border: 1px solid #ccc
    background: white
    list-style: none
        
    li
      padding: 12px 4px
      border-bottom: 1px solid #ccc

      &:last-child
        border-bottom: none
        
      a
        font-size: 14px

      p
        margin-bottom: 4px
        
        &:last-child
          margin-bottom: 0

    &.simple
      padding: 2px 30px
      margin-bottom: 10px
      list-style: inherit
      
      li
        padding: 2px 0
        border-bottom: none
    
.art-component-Member
  h4
    a
      cursor: default
      
      &.active
        cursor: pointer
        text-decoration: underline

.art-component-Sidebar
  float: left
  width: 180px

  > ul
    margin-top: 20px
  
  ul
    padding-left: 0
    list-style-type: none
    
    li
      &.expanded
        a
          background: url(../../images/expanded.png) no-repeat left center
      
      &.leaf
        a
          padding: 2px 8px
          background: none

      &.selected
        background: #FF0077
        
        a
          color: white
        
      ul
        margin-left: 16px
        
      a
        font-size: 14px
        padding: 2px 4px 2px 16px
        background: url(../../images/collapsed.png) no-repeat left center
        line-height: 28px
        display: block


pre, span.code
  font-family: Menlo, Monaco, Consolas, Courier New
  font-size: 12px
  line-height: 18px
  padding: 1px 4px
  color: #595

.more 
  .container
    padding: 10px

.block
  display: block
  padding: 10px
  margin: 10px 0
  border: 1px solid #DDD
  background: white
  overflow-x: auto

.example
  font-weight: bold

.inspected
  color: lightgreen !important

h4.package
  span
    font-weight: normal

.section
  margin-left: 20px
  margin-bottom: 20px
