body {
  margin: 0;
  color: #555;
  font-family: Verdana;
  font-size: 12px;
  background: #000;
  overflow-y: scroll;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
h1 {
  margin: 0 0 10px;
  font-size: 16px;
}
h2 {
  margin: 0 0 10px;
  font-size: 20px;
}
h3 {
  margin: 0 0 10px;
  font-size: 14px;
}
h4 {
  margin: 0 0 8px;
  font-size: 12px;
}
a {
  text-decoration: none;
  color: #16c;
}
a:hover {
  color: #05b;
}
p {
  margin: 0 0 10px;
  line-height: 20px;
}
ul {
  padding-left: 20px;
  margin: 0;
}
.param {
  font-weight: bold;
}
.label {
  width: 70px;
  font-weight: bold;
}
.label,
.package {
  float: left;
}
.main {
  margin: 0 auto;
  padding: 20px;
  width: 1024px;
  background: #223;
  border-style: solid;
  border-width: 0 1px 1px;
  border-color: #333 #888;
}
.sidebar {
  float: left;
  width: 200px;
  padding: 20px;
  border: 1px solid #000;
  background: #eee;
}
.content {
  float: right;
  padding: 20px;
  border: 1px solid #000;
  background: #eee;
  width: 720px;
}
.content ul {
  padding: 6px 14px;
  margin-bottom: 20px;
  border: 1px solid #BBB;
  background: #FFF;
}
.content ul li {
  padding: 12px 4px;
  border-bottom: 1px solid #CCC;
  list-style: none;
}
.content ul.classes li {
  padding: 2px 0;
  border-bottom: none;
}
.content ul li a {
  font-size: 12px;
}
.content ul li p {
  margin-bottom: 4px;
}
.sidebar li {
  line-height: 18px;
}
.sidebar > ul {
  margin-left: 2px;
}
.sidebar > ul li ul {
  margin: 4px 0;
}
.sidebar ul li a {
  vertical-align: top;
  font-size: 11px;
}
.code {
  font-family: Courier New;
  font-size: 11px;
}
.more {
  padding: 10px;
  overflow: hidden;
}
.block {
  display: block;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #CCC;
  background: #CFE5FF;
}
.example {
  font-weight: bold;
}